In [31]:
import sqlalchemy
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
%matplotlib inline
sns.set()

In [47]:
class DataLoader(object):
    def __init__(self):
        self.movies_n_series, self.ratings = self.load_imdb()
        self.wiki = self.load_wiki()

    @staticmethod
    def open_json(full_file_path):
        with open(full_file_path, 'r') as jfile:
            return json.load(jfile)

    def load_from_path(self, path_for_data_files):
        full_path_file_names = list(map(lambda p: os.path.join(path_for_data_files, p), os.listdir(path_for_data_files)))
        only_valid_files = list(filter(lambda file: '.json' in file and not ('!' in file or '?' in file),
                                       full_path_file_names))
        return list(map(self.open_json, only_valid_files))

    def load_imdb(self):
        movies_n_series = []
        ratings = []
        path_for_movie_jsons = 'raw_data'
        for movie_details in self.load_from_path(path_for_movie_jsons):
                if 'Ratings' in movie_details:
                    for rating in movie_details['Ratings']:
                        rating['imdbID'] = movie_details['imdbID']

                    ratings += movie_details.pop('Ratings')
                movies_n_series.append(movie_details)

        return pd.DataFrame(movies_n_series), pd.DataFrame(ratings)
    
    def load_wiki(self):
        path_for_wiki_jsons = os.path.join('raw_data', 'wiki_data')
        wiki = self.load_from_path(path_for_wiki_jsons)

        return pd.DataFrame(wiki)
dfs = {
        'movies_n_series_df': DataLoader().movies_n_series,
        'rating_df': DataLoader().ratings,
        'wiki_df': DataLoader().wiki
         }

In [48]:
dfs

{'movies_n_series_df':                                                  Actors  \
 0     Luke Wilson, Maya Rudolph, Dax Shepard, Terry ...
 1     Thomas Jane, Marcia Gay Harden, Laurie Holden,...
 2     AnnaSophia Robb, Helen Hunt, Dennis Quaid, Car...
 3     Woody Allen, Carolyn Saxon, Tracey Ullman, Mic...
 4     Art LaFleur, Tom Guiry, Mike Vitar, Patrick Renna
 5     Jeffrey Dean Morgan, Kyra Sedgwick, Natasha Ca...
 6     Hugh Grant, Sarah Jessica Parker, Natalia Klim...
 7     Channing Tatum, Jamie Foxx, Maggie Gyllenhaal,...
 8     Olga Kurylenko, Tom Brooke, Paddy Considine, J...
 9     Nicolas Cage, Sam Rockwell, Alison Lohman, Bru...
 10    Gerard Butler, Emmy Rossum, Patrick Wilson, Mi...
 11    Pål Sverre Hagen, Anders Baasmo Christiansen, ...
 12    Gerard Butler, Christopher Plummer, Jonny Lee ...
 13    Jesse Eisenberg, Kelsey Ledgin, Michael Zegen,...
 14    Jamie Lee Curtis, Lindsay Lohan, Mark Harmon, ...
 15    Amy Schumer, Michelle Williams, Tom Hopper, Ro...
 16    Naomi Watts, Jeanne Bates, Dan Birnbaum, Laura...
 17    Ryan Phillippe, Benicio Del Toro, Juliette Lew...
 18    Seann William Scott, Clifton Collins Jr., Stev...
 19    Toshirô Mifune, Isuzu Yamada, Takashi Shimura,...
 20    Reese Witherspoon, Chris Pine, Tom Hardy, Til ...
 21    Shah Rukh Khan, Arjun Rampal, Kiron Kher, Shre...
 22    Ed Helms, John C. Reilly, Anne Heche, Isiah Wh...
 23    Keanu Reeves, Morgan Freeman, Rachel Weisz, Fr...
 24    Natalie Dormer, Eoin Macken, Stephanie Vogt, O...
 25    Robby Benson, Jesse Corti, Rex Everhart, Angel...
 26    Dustin Hoffman, Jon Voight, Sylvia Miles, John...
 27    Julie Harris, James Dean, Raymond Massey, Burl...
 28    Carey Mulligan, Andrew Garfield, Izzy Meikle-S...
 29    Errol Flynn, Olivia de Havilland, Basil Rathbo...
 ...                                                 ...
 4535  Steve Martin, Diane Keaton, Kimberly Williams-...
 4536  Tom Cruise, Henry Cavill, Ving Rhames, Simon Pegg
 4537  Sally Kirkland, Anthony Ramirez, Ray LePere, S...
 4538  Bruce Willis, Bonnie Bedelia, William Atherton...
 4539  Aaron Eckhart, Ramon Rodriguez, Will Rothhaar,...
 4540  Harrison Ford, Brad Pitt, Margaret Colin, Rubé...
 4541  Bill Paxton, Bridget Fonda, Billy Bob Thornton...
 4542  Laurence Olivier, Claire Bloom, Maggie Smith, ...
 4543  Robert De Niro, Dakota Fanning, Famke Janssen,...
 4544  Salvatore Abbruzzese, Simone Sacchettino, Salv...
 4545  Teri Andrez, Adam Barrie, Megan Wolfley, Rober...
 4546  Jamie Bell, Andy Serkis, Daniel Craig, Nick Frost
 4547  Kamal Haasan, Rahul Bose, Shekhar Kapur, Pooja...
 4548  Logan Marshall-Green, Tammy Blanchard, Emayatz...
 4549  James Stewart, Kim Novak, Barbara Bel Geddes, ...
 4550  John Travolta, Gene Hackman, Rene Russo, Danny...
 4551  Aaron Eckhart, Jennifer Aniston, Dan Fogler, J...
 4552  Steve Guttenberg, Bubba Smith, David Graf, Mic...
 4553  Brendan Fraser, Elizabeth Hurley, Frances O'Co...
 4554  Zac Efron, Wes Bentley, Emily Ratajkowski, Jon...
 4555  Robert De Niro, Edward Norton, Milla Jovovich,...
 4556  Paddy Wallace, Parker Sawyers, Bashar Rahal, R...
 4557    Mel Gibson, Helen Hunt, Marisa Tomei, Alan Alda
 4558  Harriet Minto-Day, Jay Laga'aia, Damien Garvey...
 4559  Wil Wheaton, River Phoenix, Corey Feldman, Jer...
 4560  Ricky Gervais, Ty Burrell, Tina Fey, Steve Whi...
 4561  Oscar Isaac, Viggo Mortensen, Kirsten Dunst, D...
 4562   Jackie Chan, Chris Tucker, John Lone, Ziyi Zhang
 4563  Marlon Wayans, Marlene Forte, Essence Atkins, ...
 4564  David Schwimmer, Simon Pegg, Alice Eve, Natasc...

                                                  Awards          BoxOffice  \
 0                                         1 nomination.           $313,505
 1                              6 wins & 11 nominations.        $25,495,768
 2                               1 win & 12 nominations.        $43,853,424
 3     Nominated for 1 Golden Globe. Another 1 win & ...                N/A
 4                                                1 win.                N/A
 5                                        6 nominations.        $49,100,000
 6                                         1 nomination.  &pound;29,580,087
 7                               3 wins & 9 nominations.        $73,103,784
 8     Nominated for 2 BAFTA Film Awards. Another 8 w...                N/A
 9                                        5 nominations.        $36,873,198
 10    Nominated for 3 Oscars. Another 6 wins & 39 no...        $51,193,556
 11    Nominated for 1 Oscar. Another 12 wins & 13 no...         $1,511,798
 12                                        1 nomination.                N/A
 13                               1 win & 4 nominations.        $15,900,000
 14    Nominated for 1 Golden Globe. Another 5 wins &...       $110,180,505
 15                                                  N/A                N/A
 16    Nominated for 1 Oscar. Another 47 wins & 57 no...         $7,077,663
 17                                                  N/A         $5,225,573
 18                                                  N/A                N/A
 19                               3 wins & 1 nomination.                N/A
 20                               1 win & 6 nominations.        $54,758,461
 21                            33 wins & 21 nominations.         $3,421,520
 22                               1 win & 4 nominations.   &pound;6,800,000
 23                                        1 nomination.                N/A
 24                                        1 nomination.        $21,818,536
 25      Won 2 Oscars. Another 24 wins & 25 nominations.        $47,611,331
 26      Won 3 Oscars. Another 24 wins & 15 nominations.                N/A
 27       Won 1 Oscar. Another 12 wins & 10 nominations.                N/A
 28                             7 wins & 26 nominations.         $2,412,045
 29        Won 3 Oscars. Another 3 wins & 2 nominations.                N/A
 ...                                                 ...                ...
 4535                             1 win & 4 nominations.                N/A
 4536                                                N/A                N/A
 4537    Won 2 Oscars. Another 17 wins & 27 nominations.                N/A
 4538                              1 win & 1 nomination.                N/A
 4539                             1 win & 3 nominations.        $83,537,651
 4540                                      1 nomination.                N/A
 4541  Nominated for 2 Oscars. Another 15 wins & 22 n...                N/A
 4542                            2 wins & 6 nominations.                N/A
 4543                             1 win & 5 nominations.  &pound;51,100,000
 4544  Nominated for 1 Golden Globe. Another 34 wins ...   &pound;1,500,000
 4545                                     2 nominations.        $11,915,856
 4546  Nominated for 1 Oscar. Another 21 wins & 60 no...        $75,300,000
 4547                           3 wins & 10 nominations.                N/A
 4548                           4 wins & 14 nominations.           $231,703
 4549  Nominated for 2 Oscars. Another 8 wins & 4 nom...                N/A
 4550  Won 1 Golden Globe. Another 5 wins & 15 nomina...                N/A
 4551                                             1 win.        $22,927,390
 4552                                             1 win.                N/A
 4553                             1 win & 3 nominations.                N/A
 4554                                                N/A                N/A
 4555                                                N/A         $1,796,024
 4556                                                N/A           $130,307
 4557  Nominated for 1 Golden Globe. Another 5 wins &...       $181,483,882
 4558                            3 wins & 6 nominations.        $30,000,000
 4559  Nominated for 1 Oscar. Another 4 wins & 11 nom...                N/A
 4560                           3 wins & 11 nominations.        $46,429,909
 4561                                     3 nominations.         $1,638,101
 4562                          10 wins & 22 nominations.                N/A
 4563                              1 win & 1 nomination.        $32,536,865
 4564                                                N/A                N/A

                                    Country          DVD  \
 0                                      USA  09 Jan 2007
 1                                      USA  18 Mar 2008
 2                                      USA  02 Aug 2011
 3                                      USA  19 Dec 2000
 4                                      USA  29 Jan 2002
 5                              USA, Canada  15 Jan 2013
 6                                      USA  16 Mar 2010
 7                                      USA  05 Nov 2013
 8              France, UK, Belgium, Canada  19 Jun 2018
 9                                  USA, UK  01 Jun 2004
 10                                 UK, USA  03 May 2005
 11    UK, Norway, Denmark, Germany, Sweden  27 Aug 2013
 12                                     USA  20 Mar 2001
 13                                     USA  25 Aug 2009
 14                                     USA  16 Dec 2003
 15                              China, USA  17 Jul 2018
 16                             France, USA  09 Apr 2002
 17                                     USA  19 Jun 2001
 18                                     USA  24 Jul 2012
 19                                   Japan  27 May 2003
 20                                     USA  22 May 2012
 21                                   India  06 May 2008
 22                                     USA  21 Jun 2011
 23                                     USA  22 May 2001
 24                                     USA  12 Apr 2016
 25                                     USA  08 Oct 2002
 26                                     USA  01 Jan 2000
 27                                     USA  31 May 2005
 28                                 UK, USA  21 Sep 2010
 29                                     USA  30 Sep 2003
 ...                                    ...          ...
 4535                                   USA  20 Apr 1999
 4536                                   USA          N/A
 4537                           France, USA  27 Aug 1997
 4538                                   USA  09 Mar 1999
 4539                                   USA  14 Jun 2011
 4540                                   USA  24 Feb 1998
 4541       UK, Germany, France, USA, Japan  22 Jun 1999
 4542                               UK, USA  01 Jun 2004
 4543                          USA, Germany  05 Jul 2005
 4544                                 Italy  24 Nov 2009
 4545                                   USA  23 Feb 2010
 4546                      USA, New Zealand  13 Mar 2012
 4547                                 India          N/A
 4548                                   USA  08 Apr 2016
 4549                                   USA  31 Mar 1998
 4550                                   USA  27 Aug 1997
 4551                       USA, Canada, UK  02 Feb 2010
 4552                                   USA  06 Apr 2004
 4553                          USA, Germany  18 Dec 2001
 4554                       UK, France, USA  17 Nov 2015
 4555                                   USA  18 Jan 2011
 4556                               USA, UK  23 Jun 2015
 4557                                   USA  08 May 2001
 4558                        Australia, USA  11 May 2010
 4559                                   USA  29 Aug 2000
 4560                                   USA  12 Aug 2014
 4561                       UK, France, USA  13 Jan 2015
 4562                        USA, Hong Kong  01 Jun 2004
 4563                                   USA  23 Apr 2013
 4564                            UK, Canada  12 Jun 2007

                               Director                         Genre  \
 0                           Mike Judge     Adventure, Comedy, Sci-Fi
 1                       Frank Darabont      Horror, Sci-Fi, Thriller
 2                        Sean McNamara      Biography, Drama, Family
 3                          Woody Allen                 Comedy, Crime
 4                   David Mickey Evans         Comedy, Drama, Family
 5                         Ole Bornedal              Horror, Thriller
 6                        Marc Lawrence        Comedy, Drama, Romance
 7                      Roland Emmerich       Action, Drama, Thriller
 8                     Armando Iannucci               Comedy, History
 9                         Ridley Scott          Comedy, Crime, Drama
 10                     Joel Schumacher       Drama, Musical, Romance
 11     Joachim Rønning, Espen Sandberg            Adventure, History
 12                     Patrick Lussier       Action, Fantasy, Horror
 13                        Greg Mottola        Comedy, Drama, Romance
 14                         Mark Waters       Comedy, Family, Fantasy
 15         Abby Kohn, Marc Silverstein                        Comedy
 16                         David Lynch      Drama, Mystery, Thriller
 17               Christopher McQuarrie          Action, Crime, Drama
 18                   Jay Chandrasekhar        Comedy, Crime, Mystery
 19                      Akira Kurosawa                         Drama
 20                                 McG       Action, Comedy, Romance
 21                          Farah Khan         Action, Comedy, Drama
 22                       Miguel Arteta                        Comedy
 23                        Andrew Davis         Action, Drama, Sci-Fi
 24                          Jason Zada     Horror, Mystery, Thriller
 25           Gary Trousdale, Kirk Wise    Animation, Family, Fantasy
 26                    John Schlesinger                         Drama
 27                          Elia Kazan                         Drama
 28                        Mark Romanek        Drama, Romance, Sci-Fi
 29    Michael Curtiz, William Keighley    Action, Adventure, Romance
 ...                                ...                           ...
 4535                     Charles Shyer       Comedy, Family, Romance
 4536             Christopher McQuarrie   Action, Adventure, Thriller
 4537                      Oliver Stone      Drama, History, Thriller
 4538                      Renny Harlin              Action, Thriller
 4539                Jonathan Liebesman                Action, Sci-Fi
 4540                    Alan J. Pakula          Action, Crime, Drama
 4541                         Sam Raimi        Crime, Drama, Thriller
 4542                     Desmond Davis     Action, Adventure, Family
 4543                       John Polson        Drama, Horror, Mystery
 4544                    Matteo Garrone                  Crime, Drama
 4545                   Stewart Hendler               Horror, Mystery
 4546                  Steven Spielberg  Animation, Action, Adventure
 4547                      Kamal Haasan              Action, Thriller
 4548                      Karyn Kusama      Drama, Mystery, Thriller
 4549                  Alfred Hitchcock    Mystery, Romance, Thriller
 4550                  Barry Sonnenfeld       Comedy, Crime, Thriller
 4551                      Brandon Camp                Drama, Romance
 4552                       Jerry Paris                        Comedy
 4553                      Harold Ramis               Comedy, Fantasy
 4554                        Max Joseph         Drama, Music, Romance
 4555                       John Curran               Drama, Thriller
 4556                    James McTeigue       Action, Crime, Thriller
 4557                      Nancy Meyers      Comedy, Fantasy, Romance
 4558    Michael Spierig, Peter Spierig       Action, Fantasy, Horror
 4559                        Rob Reiner              Adventure, Drama
 4560                       James Bobin      Adventure, Comedy, Crime
 4561                     Hossein Amini             Romance, Thriller
 4562                      Brett Ratner         Action, Comedy, Crime
 4563                    Michael Tiddes               Comedy, Fantasy
 4564              Jean-Baptiste Andrea       Comedy, Crime, Thriller

                                           Language Metascore  \
 0                                          English        66
 1                                          English        58
 2                                          English        53
 3                                          English        69
 4                                          English       N/A
 5                                          English        45
 6     English, Ukrainian, French, Italian, Spanish        27
 7                                          English        52
 8                                          English        88
 9                                          English        61
 10                                English, Italian        40
 11             Norwegian, English, French, Swedish        62
 12                                         English        26
 13                                         English        76
 14                               English, Mandarin        70
 15                                         English        47
 16                                English, Spanish        83
 17                                English, Spanish        49
 18                                         English        41
 19                                        Japanese       N/A
 20              English, German, Japanese, Serbian        31
 21                                     Hindi, Urdu       N/A
 22                                         English        70
 23                                         English       N/A
 24                               English, Japanese        34
 25                                 English, French        95
 26                                English, Italian        79
 27                                         English       N/A
 28                                         English        69
 29                                         English        97
 ...                                            ...       ...
 4535                                       English        51
 4536                               English, French        86
 4537                              English, Spanish        72
 4538                              English, Spanish        67
 4539                            English, Ukrainian        37
 4540                                       English        53
 4541                                       English        82
 4542                                       English        59
 4543                                       English        35
 4544         Neapolitan, Italian, Mandarin, French        87
 4545                                       English        24
 4546                                       English        68
 4547          Tamil, Hindi, Telugu, Arabic, Pushto       N/A
 4548                                       English        74
 4549                                       English       N/A
 4550                                       English        82
 4551                                       English        33
 4552                                       English        33
 4553                     English, Spanish, Russian        49
 4554                                       English        46
 4555                                       English        58
 4556                     English, Pushto, Mandarin        28
 4557                               English, French        47
 4558                                       English        57
 4559                                       English        75
 4560                               English, German        61
 4561                       English, Greek, Turkish        66
 4562                  English, Mandarin, Cantonese        48
 4563                              English, Spanish        20

# Movies table

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///{}'.format(os.path.join(os.getcwd(), 'imdb_test.db')))
movies = pd.read_sql("""select * from movies""", con=engine)

In [ ]:
movies.shape

In [ ]:
movies.head()

In [ ]:
movies.columns

# extract year from 'Released' and 'year'

In [ ]:
set(movies['Year'].str.extract('(\D+)'))

In [ ]:

mean_years_from_range = lambda years: np.mean([int(year) for year in years.split(r'–')])
movies['Year'] = movies['Year'].apply(mean_years_from_range)

In [ ]:
movies['Released_year'] = movies['Released'].str.extract(r'\w (\d+)').astype(float)
movies.query('Released_year != Year')[['Released', 'Released_year', 'Year']].head()

In [ ]:
np.abs(movies['Released_year'] - movies['Year']).value_counts()

The difference is not so big so I'll stick to the 'Year' column

In [ ]:
movies.drop('Released_year', axis=1, inplace=True)

# 'Runtime' column

In [ ]:
set(movies.Runtime.str.extract('(\D+)').values)

# 'Rated' column

In [ ]:
movies.Rated.value_counts()

# 'Type' columns

In [ ]:
sns.countplot(movies.Type);

# 'Metascore' column ?

In [ ]:
movies.Metascore.head(10)

# 'Awards' column

In [ ]:
total_awards = ' '.join(movies.Awards.values)
total_awards = re.sub('[\.,\d]', '', total_awards)
total_awards

In [ ]:
from collections import Counter
Counter(total_awards.split())

In [ ]:
splited_awards = [] 
for award in movies.Awards.values:
#     award = re.sub('\.\s?\b', '', award)
#     print(award)
    for w in award.split('&'):
        for i in w.split('.'):
            splited_awards.append(i)
#     print()
set(splited_awards)

In [ ]:
def extract_win_and_nominate(awards_string):
    win_number, nominate_number = 0, 0
    for i in re.split('&|,|\.', str(awards_string)):
        if 'nominat' in i.lower():
            nominate_number += int(re.search('\d+', i).group(0))
        elif ('win' in i.lower()) or ('won' in i.lower()):
            win_number += int(re.search('\d+', i).group(0))

    return win_number, nominate_number

In [ ]:
win_number, nominate_number = zip(*movies['Awards'].apply(extract_win_and_nominate))
list(zip(win_number, nominate_number, movies['Awards']))

# extract from comma sperated strings

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(tokenizer=lambda t: re.split(' , |, |,| ,', t))

In [ ]:
movies.loc[:2, 'Language']

In [ ]:
pd.DataFrame(vec.fit_transform(movies.loc[:2, 'Language']).toarray(), columns=vec.get_feature_names())

# 'BoxOffice'

In [ ]:
for i in set(movies['BoxOffice'].str.replace('\D', '').replace('', np.nan)):
    print(i)
    print(float(i))
    print('-------------------')

# clean

In [ ]:
def clean_movies(movies_df):
    movies_df = movies_df.copy()
    # drop unrelevant columns
    movies_df.drop(['id', 'DVD', 'Website', 'Response', 'Poster', 'Released'], axis=1, inplace=True)
    # conver to nan
    movies_df.replace('N/A', np.nan, inplace=True)
    
    movies_df['imdbVotes'] = movies_df['imdbVotes'].str.replace(',', '').astype(float)
    
    BoxOffice_pound_index = movies_df.dropna()[~movies_df['BoxOffice'].dropna().str.contains('\$')].index
    movies_df['BoxOffice'] = movies_df.BoxOffice.str.replace('\D', '').replace('', np.nan).astype(float)
    movies_df.loc[BoxOffice_pound_index, 'BoxOffice'] *= 1.3
    
    mean_years_from_range = lambda years: np.mean([float(year) for year in str(years).split(r'–')])
    movies['Year'] = movies['Year'].apply(mean_years_from_range)
    
    
    movies_df['Runtime'] = movies.Runtime.str.extract('(\d+)').astype(float)
    return movies_df

In [ ]:
movies[~movies['BoxOffice'].str.contains('\$')].index

In [ ]:
clean = clean_movies(movies)

In [ ]:
clean.info()

In [ ]:
clean.head()

In [ ]:
def extract_from_comma_sperated_strings(full_df, column_name):
    vec = CountVectorizer(tokenizer=lambda t: re.split(' , |, |,| ,', t))
    
    df_array = vec.fit_transform(full_df[column_name].fillna('Not_provided')).toarray()
    fields = ['{}_{}'.format(column_name, col) for col in vec.get_feature_names()]

    return pd.DataFrame(df_array, columns=fields)

In [ ]:
def extract(movies):
    movies_df = movies.copy()
    
    movies_df['Awards_wins'], movies_df['Awards_nominate'] = zip(*movies_df['Awards'].apply(extract_win_and_nominate))
    movies_df.drop('Awards', axis=1, inplace=True)
    
    for column_name in ['Country', 'Director', 'Genre', 'Language', 'Actors', 'Production', 'Writer']:
        if column_name ==  'Director': # There are some co-directors which is noted with perentesis
            movies_df['Director'] = movies_df['Director'].str.replace('\(.+\)', '')
        movies_df = movies_df.join(extract_from_comma_sperated_strings(movies_df, column_name))
        movies_df.drop(column_name, axis=1, inplace=True)
        
    
    
    return movies_df

In [ ]:
extracted = extract(clean)
extracted.select_dtypes(include='object').head()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
nltk.download('wordnet')

from nltk.stem import wordnet
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

class StemmedCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(StemmedCountVectorizer, self).build_analyzer()
        stemmer = SnowballStemmer("english")
#         lemmatizer = wordnet.WordNetLemmatizer()
        stops = set(stopwords.words("english"))
        return lambda doc: ([stemmer.stem(w) for w in analyzer(re.sub("[^\w\s]", "", doc)) if w not in stops])
#         return lambda doc: ([lemmatizer.lemmatize(w) for w in analyzer(re.sub("[^\w\s]", "", doc)) if w not in stops])

In [ ]:
extracted.loc[0, 'Plot']

In [ ]:
vec = StemmedCountVectorizer()
d = vec.fit_transform(extracted['Title']).toarray()
fields = vec.get_feature_names()
df = pd.DataFrame(d, columns=fields)

In [ ]:
df.shape

In [ ]:
from sklearn import metrics
cosine_simmilarity = metrics.pairwise.cosine_similarity(df)

In [ ]:
cosine_simmilarity_df = pd.DataFrame(cosine_simmilarity, columns=df.index)

In [ ]:
extracted[extracted.imdbID == 'tt0071562']

In [ ]:
cosine_simmilarity_df.loc[2773, :].sort_values()

In [ ]:
extracted.loc[3472, 'Title']

In [ ]:
extracted.loc[2773, 'Title']

In [ ]:
import logging
import gensim
import gzip

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

def read_input(input_file):
    """This method reads the input file which is in gzip format"""
    
    logging.info("reading file {0}...this may take a while".format(input_file))
    
    with gzip.open (input_file, 'rb') as f:
        for i, line in enumerate (f): 

            if (i%10000==0):
                logging.info ("read {0} reviews".format (i))
            # do some pre-processing and return a list of words for each review text
            yield gensim.utils.simple_preprocess(line)

In [ ]:
text_path = gensim.downloader.load("semeval-2016-2017-task3-subtaskA-unannotated", return_path=True)

In [ ]:
documents = list(read_input(text_path))

In [ ]:
stemmer = SnowballStemmer("english")
for i, line in enumerate(documents):
    for w, word in enumerate(line):
        stem_word = stemmer.stem(re.sub(r'[^\w\s]', '', word))
        documents[i][w] = stem_word

In [ ]:
Genre_cols = [col for col in extracted.columns if 'Genre' in col]
Genre_cols

In [ ]:
np.sum(extracted[Genre_cols])

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import train_test_split

Genre_cols.remove('Genre_documentary')
X = extracted['Plot'].drop(extracted[extracted['Genre_documentary'] == 1].index)
y = extracted[Genre_cols].drop(extracted[extracted['Genre_documentary'] == 1].index)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y)

model = Pipeline([
    ('vec', StemmedCountVectorizer()),
    ('logreg', OneVsRestClassifier(LogisticRegression(penalty='l1')))
])

In [ ]:
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))